export(loglm, svm_linear, svm_radial, loglm_mean, loglm_median,
       customSummaryClass, customSummaryReg,
       bestTune, addTerms, stepCV, vifCalc, enetCoef,
       multiPairPlot, corPlot, trainPlot, importancePlot, rocPlot, densPlot, predPlot)

S3method(fitted, train)

importFrom("graphics", "abline", "axis", "box", "grid", "points", "lines", "text", "boxplot", "barplot")
importFrom("stats", "model.matrix", "cor", "na.omit", "predict", "terms", "update", "var", "formula", "lm", "glm", "quantile", "fitted", "density")
importFrom("caret", "train")
importFrom("ggplot2", "ggplot")
importFrom("cowplot", "plot_grid")
importFrom("randomForest", "importance")
importFrom("pROC","roc")
importFrom("e1071","svm")
importFrom("grDevices", "boxplot.stats")
importFrom("corrgram", "corrgram", "panel.cor")
importFrom("utils", "flush.console")