export(loglm_mean,loglm_median,svm_radial,customSummaryClass,customSummaryReg,addTerms,stepCV,bestTune,enetCoef,trainPlot,importancePlot,rocPlot,predPlot,cookDist,scatPlot)

importFrom("graphics", "abline", "axis", "box", "grid", "points", "lines")
importFrom("stats", "cor", "na.omit", "predict", "terms", "update", "var", "cooks.distance", "formula", "lm", "quantile")
importFrom("caret", "train")
importFrom("randomForest", "importance")
importFrom("pROC","roc")
importFrom("e1071","svm")
importFrom("utils", "flush.console")